@{
    ViewData["Title"] = "Modal";
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Запустить модальное окно
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Предупреждение</h5>
                <button onclick="SaveModalResult()" name="buttonType" value="false" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="icons/warning-icon.png" alt="Warning">
                <h5 id="exampleModalBody">Чтобы сохранить результат на следующем экране нажмите на первую кнопку в первом ряду</h5>
            </div>
            <div class="modal-footer">
                <button onclick="SaveModalResult()" name="buttonType" value="false" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Остаться</button>
                <button onclick="SaveModalResult()" name="buttonType" value="ok" type="button" class="btn btn-primary" data-bs-dismiss="modal">Продолжить</button>
            </div>
        </div>
    </div>
</div>