<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style>
    .button-grid {
        border: 1px solid #ccc;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    .button-grid-keys {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }
</style>

<form asp-action="ThirdTaskSaveResult" asp-controller="Home" method="post">
    <div class="card w-25">
        <div class="card-body">
            <img class="card-img-top" src="~/icons/triangle.png" width="200" height="200"/>
            <p class="card-text">Порядковый номер фигуры</p>
            <input type="number" min="1" max="3" value="1"/>
        </div>
    </div>

    <div class="card w-25">
        <div class="card-body">
            <img class="card-img-top" src="~/icons/square.png" width="200" height="200" />
            <p class="card-text">Порядковый номер фигуры</p>
            <input type="number" min="1" max="3" value="1" />
        </div>
    </div>
    
    <div class="card w-25">
        <div class="card-body">
            <img class="card-img-top" src="~/icons/ellipse.png" width="200" height="200" />
            <p class="card-text">Порядковый номер фигуры</p>
            <input type="number" min="1" max="3" value="1" />
        </div>
    </div>
    
    <p style="text-align: center">
        <button type="submit" class="btn btn-primary">Далее</button>
    </p>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Предупреждение</h5>
                <button onclick="SaveModalResult()" name="buttonType" value="false" type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @switch (ViewBag.ModalTypeId) {
                    case 1:
                        break;
                    case 2:
                        <img src="~/icons/warning-icon.png" alt="Warning">
                        break;
                    case 3:
                        <img src="~/icons/figure-icon.png" alt="Warning">
                        break;
                }
                <h5 id="exampleModalBody">Чтобы сохранить результат на следующем экране укажите следующий порядок фигур “Круг” - “Треугольник” - “Квадат”</h5>
            </div>
            <div class="modal-footer">
                <button onclick="SaveModalResult()" name="buttonType" value="false" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Остаться</button>
                <button onclick="SaveModalResult()" name="buttonType" value="ok" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Продолжить</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#exampleModal').modal('show');
    });

    function SaveModalResult() {
        $.get("/Home/SaveModalResult?modalNumber=3");
    }
</script>