<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(91319732, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true
    });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/91319732" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

@model QuizDto
@{
    ViewData["Title"] = "Create";
}

<style>
    ul {
        list-style-type: none;
    }
</style>

<form asp-action="ClarifyingQuestionsSaveResult" asp-controller="Test" onsubmit="return checkFormData()" method="post">

    <h1 class="display-4">Уточняющие вопросы</h1>

    <div class="card">
        <div class="card-header" style="font-weight: bold">
            Сколько вам лет?
        </div>
        <input type="number" required min="12" max="80" name="age" style="padding-left: 10px" />
    </div>

    <div class="card">
        <div class="card-header" style="font-weight: bold">
            На что вы обратили внимание при возникновении диалоговых сообщений в первую очередь?
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <input aria-label="group0" type="checkbox" name="clarifyingQuestionOne" value="На иконку" /> На иконку
                <br />
                <input aria-label="group0" type="checkbox" name="clarifyingQuestionOne" value="На текст" /> На текст
                <br />
                <input aria-label="group0" type="checkbox" name="clarifyingQuestionOne" value="Не запомнил(а) что было первым" /> Не запомнил(а) что было первым
                <br />
                <input aria-label="group0" type="checkbox" name="clarifyingQuestionOne" value="Пропустил(а) диалоговое сообщение, действовал(а) наугад" /> Пропустил(а) диалоговое сообщение, действовал(а) наугад
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header" style="font-weight: bold">
            Что, по вашему мнению, в большей степени помогало выполнять задания?
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <input aria-label="group1" type="checkbox" name="clarifyingQuestionTwo" value="Иконка" /> Иконка
                <br />
                <input aria-label="group1" type="checkbox" name="clarifyingQuestionTwo" value="Текст" /> Текст
                <br />
                <input aria-label="group1" type="checkbox" name="clarifyingQuestionTwo" value="Иконка и текст помогали в равной степени" /> Иконка и текст помогали в равной степени
                <br />
                <input aria-label="group1" type="checkbox" name="clarifyingQuestionTwo" value="Пропустил(а) диалоговое сообщение, действовал(а) наугад" /> Пропустил(а) диалоговое сообщение, действовал(а) наугад
            </li>
        </ul>
    </div>

    <div class="card">
        <div class="card-header" style="font-weight: bold">
            Если у вас возникли трудности при прохождении теста или просто есть какие-то комментарии, напишите об этом, пожалуйста.
        </div>
        <input type="text" name="clarifyingQuestionThree" />
    </div>

    <p style="text-align: center; margin-top: 20px">
        <button type="submit" class="btn btn-primary">Далее</button>
    </p>
</form>

<script type="text/javascript">
    $('input[type="checkbox"]').on('change', function () {
        var attrValue = this.getAttribute("aria-label");
        $('input[aria-label="' + attrValue + '"]').not(this).prop('checked', false);
    });

    function checkFormData() {
        for (let i = 0; i < 2; i++) {
            var value = `group${i}`;
            if (!$('input[aria-label="' + value + '"]:checked').length > 0) {
                alert('Заполните все ответы на вопросы!');
                return false;
            }
        }
        return true;
    }
</script>