@{
    ViewData["Title"] = "Home Page";
}

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(91319732, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/91319732" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<h1 class="display-4">Вопросы теста личности</h1>

<div class="card" style="margin-top: 20px">
    <h2 class="card-header">Привет!</h2>
    <div class="card-body">
        <p class="card-text">
            Я благодарю Вас за то, что согласились принять участие в исследовании. Это очень поможет мне в написании моей дипломной работы.
            Здесь я предлагаю вам определить свой тип личности по типологии Майерс-Бриггс (16 типов личности).
            Не беспокойтесь, ваш результат и все данные, которые я собираю - анонимные. Я попрошу вас указать только свой возраст.
        </p>
    </div>
</div>

<form asp-action="Create" asp-controller="Test">
    <div class="card">
        <h2 class="card-header">Пояснение к тесту</h2>
        <ul class="list-group list-group-flush">
            @if (ViewBag.TestType)
            {
                <li class="list-group-item">Прохождение теста займет 2-3 минут.</li>
            }
            else
            {
                <li class="list-group-item">Прохождение теста займет 5-7 минут.</li>
            }
            <li class="list-group-item">У вопросов теста нет «правильных» или «неправильных» ответов.</li>
            <li class="list-group-item">Постарайтесь долго не обдумывать каждый вопрос, а давайте первый ответ который придет в голову.</li>
            <li class="list-group-item">Ваши ответы на вопросы нигде не сохраняются и не отображаются, не сможете их увидеть даже Вы сами.</li>
            <li class="list-group-item">Отвечайте на вопросы искренне, не старайтесь произвести хорошее впечатление - помните, что Вы решили пройти данный тест, чтобы узнать свой реальный личностный портрет.</li>
            <li class="list-group-item">Результат тестирования поможет увидеть, как Вы обычно смотрите на вещи и что Вы делаете, когда нужно принять решение. Зная свои предпочтения и узнавая о предпочтениях других людей, Вы сможете выявить свои сильные стороны, понять, какая работа доставляет Вам удовольствие и как люди с различными предпочтениями могут взаимодействовать друг с другом.</li>
        </ul>
    </div>

    <p style="text-align: center; margin-top: 20px">
        <button type="submit" class="btn btn-primary">Пройти тест</button>
    </p>
</form>
