@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вопросы теста личности</h1>
    <h3>
        Привет!
        Я благодарю Вас за то, что согласились принять участие в исследовании. Это очень поможет мне в написании моей дипломной работы.
        Здесь я предлагаю вам определить свой тип личности по типологии Майерс-Бриггс (16 типов личности).
        Не беспокойтесь, ваш результат и все данные, которые я собираю - анонимные. Я попрошу вас указать только свой возраст.
    </h3>
</div>

<form asp-action="Create" asp-controller="Test">
    <div>
        <h6 class="text-lg-start"><strong>Пояснение к тесту</strong></h6>
        <ul>
            @if (ViewBag.TestType)
            {
                <li>Прохождение теста займет 2-3 минут.</li>
            }
            else
            {
                <li>Прохождение теста займет 5-7 минут.</li>
            }
            <li>У вопросов теста нет «правильных» или «неправильных» ответов.</li>
            <li>Постарайтесь долго не обдумывать каждый вопрос, а давайте первый ответ который придет в голову.</li>
            <li>Ваши ответы на вопросы нигде не сохраняются и не отображаются, не сможете их увидеть даже Вы сами.</li>
            <li>Отвечайте на вопросы искренне, не старайтесь произвести хорошее впечатление - помните, что Вы решили пройти данный тест, чтобы узнать свой реальный личностный портрет.</li>
            <li>Результат тестирования поможет увидеть, как Вы обычно смотрите на вещи и что Вы делаете, когда нужно принять решение. Зная свои предпочтения и узнавая о предпочтениях других людей, Вы сможете выявить свои сильные стороны, понять, какая работа доставляет Вам удовольствие и как люди с различными предпочтениями могут взаимодействовать друг с другом.</li>
        </ul>
        <p style="text-align: center">
            <button type="submit" class="btn btn-primary">Пройти тест</button>
        </p>
    </div>
</form>
