<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style>
    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
    }

    input[type="checkbox"] {
        display: none;
    }

    label {
        border: 1px solid #fff;
        padding: 10px;
        display: block;
        position: relative;
        margin: 10px;
        cursor: pointer;
    }

        label:before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid grey;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        label img {
            height: 200px;
            width: 300px;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
        }

    :checked + label {
        border-color: #ddd;
    }

        :checked + label:before {
            content: "✓";
            background-color: grey;
            transform: scale(1);
        }

        :checked + label img {
            transform: scale(0.9);
            z-index: -1;
        }

    .button-grid {
        border: 1px solid #ccc;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
    }

    .button-grid-keys {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }
</style>

<form asp-action="SecondTaskSaveResult" asp-controller="Test">
    <div class="button-grid">
        <div class="button-grid-keys">
            <ul>
                <li>
                    <input type="checkbox" id="cow" />
                    <label for="cow"><img src="~/icons/cow.png" width="700" height="200" /></label>
                </li>
                <li>

                    <input type="checkbox" id="pig" />
                    <label for="pig"><img src="~/icons/pig.png" width="300" height="200" /></label>
                </li>
                <li>

                    <input type="checkbox" id="horse" />
                    <label for="horse"><img src="~/icons/horse.png" width="300" height="200" /></label>
                </li>
                <li>
                    <input type="checkbox" id="cock" />
                    <label for="cock"><img src="~/icons/cock.png" width="300" height="200" /></label>
                </li>
            </ul>
        </div>
        
        <p style="text-align: center">
            <button type="submit" class="btn btn-primary">Далее</button>
        </p>
    </div>

</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Предупреждение</h5>
                <button onclick="SaveModalResult(false)" name="buttonType" value="false" type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @switch (ViewBag.ModalTypeId)
                {
                    case 1:
                        break;
                    case 2:
                        <img src="~/icons/warning-icon.png" alt="Warning">
                        break;
                    case 3:
                        <img src="~/icons/cow-icon.png" alt="Warning">
                        break;
                }
                <h5 id="exampleModalBody">Чтобы сохранить результат на следующем экране выберите животное “Корова”.</h5>
            </div>
            <div class="modal-footer">
                <button onclick="SaveModalResult(false)" name="buttonType" value="false" type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Остаться</button>
                <button onclick="SaveModalResult(true)" name="buttonType" value="ok" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Продолжить</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).on('load', function () {
        $('#exampleModal').modal('show');
    });

    function SaveModalResult() {
        $.get(`/Test/SaveModalResult?modalNumber=2&modalResult=${result}`);
    }
</script>