@model PersonalityDto

<div class="card" style="margin-top: 20px">
    <h2 class="card-header">Спасибо за прохождение теста!</h2>
    <div class="card-body">
        <p class="card-text">Ваш ответ очень помог мне в моем исследовании!</p>
    </div>
</div>

<h1 class="display-4">Результат</h1>

<div class="card" style="margin-top: 20px">
    <h2 class="card-header">@Model.PersonalityTitle</h2>
    <div class="card-body">
        <p class="card-text">@Model.PersonalityDescription</p>
        <p class="card-text"><a href="@Model.PersonalityLink">Читать подробное описание в источнике</a></p>
        Если вы хотите пройти тест ещё раз, то можете сделать это
        <a href="https://www.16personalities.com/ru/test-lichnosti">здесь</a>
        или
        <a href="https://my-type.ru/16types">здесь</a>
    </div>
</div>
